<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_COPYRIGHT)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSCameraUsageDescription</key>
	<string>In order for participants to see you, requires access to your camera.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>In order to speak to participants, requires access to your microphone.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Required for screen sharing functionality.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Required for calendar integration.</string>
	<key>NSContactsUsageDescription</key>
	<string>Required for contacts integration.</string>
	<key>NSLocationUsageDescription</key>
	<string>Required for location services.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Required for Bluetooth audio devices.</string>
</dict>
</plist>
